.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}
.places h1 {
    height: 30px;
    width: 100%;
    padding-left: 1%;
    font-size: 30px;
    margin-bottom: 0;
}

article {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: auto;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;       
}
article .title_of_place {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    width: 100%;
    font-size: 30px;
    margin-top: 3px;
    margin-right: -23%;

}
.price_by_night {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 50%;
    font-size: 30px;
    height: 80px;
    width: 80px;
    min-width: 60px;
    margin-top: -3px;
}
.information {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 80px;
    width: 400px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.max_guest {
    width: 100px;
    background-image: url('../images/icon_group.png');
    background-position: top;
    background-repeat: no-repeat;
}
.max_guest p {
    margin-top: 50%;
    margin-left: 20%;
    
}
.number_rooms {
    width: 100px;
    background-image: url('../images/icon_bed.png');
    background-repeat: no-repeat;
    background-position: top;
}
.number_rooms p{
    margin-top: 50%;
    margin-left: 20%;
}
.number_bathrooms {
    width: 100px;
    background-image: url('../images/icon_bath.png');
    background-position: top;
    background-repeat: no-repeat;

}
.number_bathrooms p {
    margin-top: 50%;
    margin-left: 20%;
}
.description_text {
   margin: 0;

}
.user {
    display: flex;

}
.owner {
    font-weight: bold;
    
}
article  .amenities{
    
    margin-top: 5%;
    width: 100%;
}
.amenities_title {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    margin-right: 10%;
}
.amenities_list {
    display: flex;
    flex-flow: column;
    justify-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* justify-content: flex-start; */
    /* flex-flow: column; */
    /* background-image: url('../images/icon_tv.png'), url('../images/icon_wifi.png'); */
    /* background-repeat: no-repeat, no-repeat; */
    /* background-position: left, center; */
    /* background-size: 25%; */
    

}
.amenities_list .icon_tv{
    margin: 0;
    background-image: url('../images/icon_tv.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}
.amenities_list .icon_tv p{
    margin-left: 6%;
}
.amenities_list .icon_pets{
    margin: 0;
    background-image: url('../images/icon_pets.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}
.amenities_list .icon_pets p{
    margin-left: 6%;
    
}
.amenities_list .icon_wifi{
    margin: 0;
    background-image: url('../images/icon_wifi.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}
.amenities_list .icon_wifi p{
    margin-left: 6%;
}
.reviews {
    margin-top: 40px;
}
.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.reviews ul{
    list-style-type: none;
    padding-left: 0;
}
.reviews h3 {
    margin-bottom: 5px;
    font-size: 14px;
}
.reviews p{
    margin-top: 0;
    font-size: 12px;
}
