body {
    /* display: flex; */
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    /* flex-direction: column; */
    color: #484848;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div.container {
    width: 100%;
    /* height: auto; */
    max-width: 1000px;
    margin: 30px auto;
    bottom: 0;
    /* padding-left: 10px; */
}